<style>

  main {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: inherit;
    position: relative;
  }

  .content {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 700px;
    margin-bottom: 3rem;
  }

  .divider {
  border-left: 50px solid #000;
  height: 100%;
}
</style>


<main class="main">
  <div class="content">
    
    <app-predict [height_pred_data]="height_pred_data"></app-predict>
    
    <div class="divider"></div>

    <app-height-weight-corr 
    [heightWeightData]="rawHeightWeightData"
    (clearPoints)="clearPointsList()"
    (returnPoints)="returnPointsList()"
    ></app-height-weight-corr>
    
  </div>
</main>